


/* --------- General Styles ------ */


body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
 

}


header {
  background-color: #ee9de3;

  margin-bottom: 40px;
  text-align: center;
  font-size: 19px;
  font-family: 'Montserrat', monospace;

}

.wrapper {
  font-family: 'Montserrat';
font-size: 72px;
  color: black;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0;
}

main {
  padding: 20px 0;
}

footer {
background-color:rgb(33, 30, 30) ;

margin-top: 40px;
margin-bottom: 0;

}

section {
  padding: 0 25%;
  margin: 20px 0;
}




/* ------ Typography ------- */

h1,
h2,
h3 {
  font-family: 'Montserrat', monospace;
    color: rgb(33, 30, 30);
  text-align: center;
  font-weight: 400;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', monospace;
 line-height: 2.5em;
 margin-bottom: 0;
}

a {
    font-weight: 700;
    text-decoration: none;	
}
a:link { color: rgb(230, 17, 212); }
a:visited { color: rgb(2, 2, 2); }
a:hover { color:grey; }
a:active { color: rgb(136, 230, 136); }
a:hover {
    text-decoration: underline;	
}

em {
  font-weight: bold;
  font-style: normal;
}

footer {
  background-color: #ee9de3;
  text-align: center;	
  padding: 100px;
  margin: 0;
}




/* ------ classes ------ */

.section-border {
    padding-top: 0px;
    border-top: 2px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}



/* -------- spacing ------*/

.space-sm {
  height: 10px;
  width: auto;
}

.space-footer {
  height: 10px;
  width: auto;
}