


/* --------- General Styles ------ */


body {
    margin: 0;
    font-family: sans-serif, monospace;
    background-color: rgb(253, 251, 251);
    font-size: 1rem;
}


header {
    height: 140px;
    background-color:rgb(33, 30, 30) ;

}

.wrapper {
    font-family:sans-serif, monospace ;
    font-size: 72px;
    color: #00fffb;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
}

header h2 {
	font-family: sans-serif, monospace;
	color: rgb(33, 30, 30);
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color:rgb(33, 30, 30) ;

}

section {
    padding: 0 25%;
    margin: 80px 0;
}




/* ------ Typography ------- */

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
      color: rgb(33, 30, 30);
    text-align: center;
    font-weight: 500;
  }
  
  h1 { font-size: 28px; }
  h2 { font-size: 26px; }
  h3 { font-size: 18px; }
  
  p, li {
   font-family: sans-serif, monospace;
   line-height: 1.5em;
   margin-bottom: 0;
  }
  
  a {
      font-weight: 700;
      text-decoration: none;	
  }
  a:link { color: blue; }
  a:visited { color: purple; }
  a:hover { color:grey; }
  a:active { color: green; }
  a:hover {
      text-decoration: underline;	
  }
  
  em {
    font-weight: bold;
    font-style: normal;
  }
  
  footer p {
      color: #00fffb;	
      text-align: center;
    padding: 30px;
    margin: 0;
  }


  /* -------- Elements ------ */

  img {
      display: block;
      width: 100%;
      border-radius: 8px;
      border: 1px;
  }

  /* ------ mod styles ------ */

  .section-border {
      padding-top: 80px;
      border-top: 2px;
  }